import init.elite.usb.rc

on early-init
    export EXTERNAL_STORAGE /storage/sdcard0
    mkdir /storage/sdcard0 0001 system system
    # for backwards compatibility
    symlink /storage/sdcard0 /sdcard

on emmc
    mkdir /system
    mkdir /data 0771 system system
    mkdir /cache 0770 system cache
    mkdir /devlog 0700 root root

    mount_all /fstab.elite

on emmc-fs
    # msm8960 firmware
    #mkdir /firmware_dsps 0771 system system
    mkdir /firmware_q6 0771 system system
    mkdir /firmware_radio 0771 system system
    mkdir /firmware_wcnss 0771 system system

    #wait /dev/block/mmcblk0p16
    wait /dev/block/mmcblk0p17
    wait /dev/block/mmcblk0p18
    wait /dev/block/mmcblk0p19

    #mount vfat /dev/block/mmcblk0p16 /firmware_dsps
    mount vfat /dev/block/mmcblk0p17 /firmware_radio ro shortname=lower
    mount vfat /dev/block/mmcblk0p18 /firmware_q6 ro shortname=lower
    mount vfat /dev/block/mmcblk0p19 /firmware_wcnss ro shortname=lower

    # use qcom link scripts for firmware links
    #exec /system/bin/sh /system/etc/init.qcom.dsps_links.sh
    exec /system/bin/sh /system/etc/init.qcom.q6_links.sh
    exec /system/bin/sh /system/etc/init.qcom.radio_links.sh
    exec /system/bin/sh /system/etc/init.qcom.wcnss_links.sh

    # for NFC
    symlink /system/vendor/pittpatt /vendor/pittpatt
    symlink /system/vendor/firmware/libpn544_fw.so /vendor/firmware/libpn544_fw.so

on init
    # double check the perms and set owner
    chown root root /devlog
    chmod 0700 /devlog

    # for ST R3GD20
    chown system system /sys/class/htc_gyro/gyro/enable_device
    chown system system /sys/class/htc_gyro/gyro/pollrate_ms
    chown system system /sys/class/htc_gyro/gyro/range
    chown system system /sys/class/htc_gyro/gyro/enable_polling
    chown system system /sys/class/htc_gyro/gyro/fifo_samples
    chown system system /sys/class/htc_gyro/gyro/fifo_mode
    chown system system /sys/class/htc_gyro/gyro/reg_value
    chown system system /sys/class/htc_gyro/gyro/reg_addr

on boot
    # bluetooth
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chown bluetooth bluetooth /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/hostapd 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    # Create the symlink to qcn wpa_supplicant folder
    mkdir /data/system 0775 system system
    symlink /data/misc/wifi/wpa_supplicant /data/system/wpa_supplicant
    symlink /dev/socket/wpa_wlan0 /data/system/wpa_supplicant/wlan0

    # Chown polling nodes as needed from UI running on system server
    chown system system /persist
    chmod 0771 /persist
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.1/polling

     # Create directory from IMS services
    mkdir /data/shared 0755

    #Set SUID bit for iproute2 ip tool
    chmod 4755 /system/bin/ip

    # Provide the access to hostapd.conf only to root and group
    chmod 0660 /data/hostapd/hostapd.conf

    # create symlink for fb1 as HDMI
    symlink /dev/graphics/fb1 /dev/graphics/hdmi

    # Remove write permissions to video related nodes
    chmod 0664 /sys/devices/virtual/graphics/fb1/hpd
    chmod 0664 /sys/devices/virtual/graphics/fb1/video_mode
    chmod 0664 /sys/devices/virtual/graphics/fb1/format_3d

    # Change owner and group for media server and surface flinger
    chown media system /sys/devices/virtual/graphics/fb1/format_3d

    # Create /data/time folder for time-services
    mkdir /data/time 0700 system system

# HTC SSD Peripheral UI - BEGIN
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/red/off_timer
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/green/off_timer
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/blue/off_timer
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/amber/off_timer
    chown system system /sys/class/leds/button-backlight-portrait/brightness
    chown system system /sys/class/leds/button-backlight-landscape/brightness
    chown system system /sys/class/leds/amber-portrait/brightness
    chown system system /sys/class/leds/green-portrait/brightness
    chown system system /sys/class/leds/blue-portrait/brightness
    chown system system /sys/class/leds/amber-landscape/brightness
    chown system system /sys/class/leds/green-landscape/brightness
    chown system system /sys/class/leds/blue-landscape/brightness
    chown system system /sys/class/leds/sharekey/brightness
    chown system system /sys/class/leds/sharekey/breath_times
    chown system system /sys/class/leds/sharekey/breath_max_brightness
    chown system system /sys/class/leds/charming-led/brightness
    chown system system /sys/class/leds/charming-led/blink
    chown system system /sys/class/leds/charming-led/off_timer
    chown system system /sys/class/leds/flashlight/brightness
    chown system system /sys/class/leds/caps/brightness
    chown system system /sys/class/leds/func/brightness
    chown media media /sys/class/leds/green-camera/brightness
    chown system system /sys/devices/virtual/htc_accessory/fm/flag
    chown system system /sys/devices/virtual/htc_accessory/tty/flag

    chmod 0666 /sys/class/leds/flashlight/brightness
# HTC SSD Peripheral UI - END

    # audio
    mkdir /data/audio
    chown media audio /data/audio
    chmod 755 /data/audio

    # To allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio7/accept_ra 2

# + SSD_RIL : Enlarge TCP window size for ATT HSDPA Cat 14
    setprop net.tcp.buffersize.hspa    4096,174760,1572864,4096,16384,110208
    setprop net.tcp.buffersize.hsupa   4096,174760,1572864,4096,16384,110208
    setprop net.tcp.buffersize.hsdpa   4096,174760,1572864,4096,16384,110208
    setprop net.tcp.buffersize.umts    4096,174760,1572864,4096,16384,110208
    setprop net.tcp.buffersize.edge    4096,157284,1415578,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4096,157284,1415578,4096,8760,11680
# - SSD_RIL : Enlarge TCP window size for ATT HSDPA Cat 14

    # low charge current in phone call
    chown radio radio /sys/class/power_supply/battery/phone_call
    chown radio radio /sys/class/power_supply/battery/network_search
    chown system system /sys/class/power_supply/battery/navigation

# Services start here

service abld /system/bin/mm-abl-daemon
    disabled

service akmd /system/bin/akmd
    user compass
    group compass misc input

service bt-dun /system/bin/dun-server /dev/smd7 /dev/rfcomm0
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -ABKLG
    class late_start
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKLG
    disabled
    oneshot

service dmagent /system/bin/dmagent -N
    socket dmagent stream 660 root radio
    user root
    group radio cache inet misc

service drmdiag /system/bin/drmdiagapp
     user root
     disabled
     oneshot

service dund /system/bin/sdptool add --handle=0x1ff01 --channel=1 DUN
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service dx_drm_server /system/bin/DxDrmServerIpc -f -o allow_other /data/DxDrm/fuse
    class main

service fm_dl /system/bin/sh /system/etc/init.qcom.fm.sh
    user root
    group system qcom_oncrpc
    disabled
    oneshot

service ftp /system/bin/sdptool add --handle=0x1ff20 --psm=5257 --channel=20 FTP
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service ftp_del /system/bin/sdptool del 0x1ff20
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hciattach /system/bin/sh /system/etc/init.qcom.bt.sh
    user bluetooth
    group qcom_oncrpc bluetooth net_bt_admin
    disabled
    oneshot

service hdmid /system/bin/hdmid
    socket displayd stream 0660 root system graphics
    disabled

service hostapd /system/bin/hostapd -dddd /data/hostapd/hostapd.conf
    user root
    group root
    oneshot
    disabled

service iprenew_p2p /system/bin/dhcpcd -n
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    disabled
    oneshot

service map0 /system/bin/sdptool add --handle=0x1ff16 --channel=16 MAS0
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service map0_del /system/bin/sdptool del 0x1ff16
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service map1 /system/bin/sdptool add --handle=0x1ff17 --channel=17 MAS1
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service map1_del /system/bin/sdptool del 0x1ff17
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
    user root
    disabled

service netmgrd /system/bin/netmgrd

service netsharing_off /system/bin/netsharing net off
    disabled
    oneshot

service netsharing_on /system/bin/netsharing net on
    disabled
    oneshot

service netsharing_pass /system/bin/netsharing net_pass on
    disabled
    oneshot

service qcamerasvr /system/bin/mm-qcamera-daemon
    user system
    group system camera inet

service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    user root
    disabled
    oneshot

service qcom-sh /system/bin/sh /init.qcom.sh
    user root
    oneshot

service qcom-wifi /system/bin/sh /system/etc/init.qcom.wifi.sh
    oneshot

service qmiproxy /system/bin/qmiproxy
    user radio
    group radio
    disabled

service qmuxd /system/bin/qmuxd
    user radio
    group radio

service ril-daemon1 /system/bin/rild -c 1
    socket rild1 stream 660 root radio
    socket rild-debug1 stream 660 radio system
    user root
    disabled
    group radio cache inet misc audio sdcard_rw qcom_oncrpc diag

service rmt_storage /system/bin/rmt_storage modem_st1 modem_st2 recovery radio_config
    class core
    user root

service sapd /system/bin/sdptool add --handle=0x1ff15 --channel=15 SAP
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service thermald /system/bin/thermald
    user root
    group root
    disabled

service time_daemon /system/bin/time_daemon
    user root
    group root
    oneshot
    disabled

service udhcpd /system/bin/udhcpd
    disabled
    oneshot

service wpa_supplicant /system/bin/logwrapper /system/bin/wpa_supplicant -Dnl80211
    user root
    group wifi inet
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service zchgd_offmode /system/bin/zchgd -pseudooffmode
    user root
    group root graphics
    disabled

service zchgd_onmode /system/bin/zchgd -onmode
    user root
    group root graphics
    oneshot

on property:crypto.driver.load=1
    insmod /system/lib/modules/qce.ko
    insmod /system/lib/modules/qcedev.ko

on property:crypto.driver.load=0
    exec /system/bin/rmmod qcedev.ko
    exec /system/bin/rmmod qce.ko

on property:drmdiag.load=1
    start drmdiag

on property:drmdiag.load=0
    stop drmdiag

on property:init.svc.bootanim=stopped
    start qcom-post-boot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

on property:persist.thermal.monitor=true
    start thermald

on property:persist.timed.enable=true
    mkdir /data/time/ 0700
    start time_daemon

on property:ro.baseband="msm"
    setprop ro.qualcomm.bluetooth.dun true

on property:ro.data.large_tcp_window_size=true
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1

on property:ro.emmc=1
    start rmt_storage

on property:ro.hdmi.enable=true
    start hdmid

on property:ro.use_data_netmgrd=false
    stop netmgrd
